<div class="container">
    <button id="menu-toggle" class="menu-toggle"><span>Menu</span></button>
    <div id="theSidebar" class="sidebar">
      <button class="close-button fa fa-fw fa-close"></button>
      <div class="codrops-links">
        <a class="codrops-icon codrops-icon--prev" href="/" title="Previous Demo">
          <span>Previous Demo</span></a>
        <a class="codrops-icon codrops-icon--drop" href="/" title="Back to the article"><span>Back to the Codrops article</span></a>
      </div>
      <h1><span>Bienvenidos a <span> Mi Triste Historia</h1>
      <!-- <nav class="codrops-demos">
        <a class="current-demo" href="index.html">Demo 1</a>
        <a href="index2.html">Demo 2</a>
      </nav> -->
      <div class="related">

        <h3>Redes Sociales</h3>
        <a href="#">Facebook</a>
        <a href="/">Twitter</a>

        <!-- <a href="/">3D Grid Effect</a> -->
      </div>
    </div>
    <div id="theGrid" class="main">
      <section class="grid">
        <header class="top-bar">
          <h2 class="top-bar__headline">Mis Historias</h2>
          <!-- <div class="filter">
            <span>Filter by:</span>
            <span class="dropdown">Popular</span>
          </div> -->
        </header>

        {{#each historias}}
        <a class="grid__item">
          <h2 class="title title--preview">{{titulo_historia}}</h2>
          <div class="loader"></div>
          <span class="category">Stories</span>
          <div class="meta meta--preview">
            <img class="meta__avatar" src="img/authors/9.png" alt="author01" />
            <span class="meta__date"><i class="far fa-calendar"></i></i> {{fecha}}</span>
            <span class="meta__reading-time"><i class="far fa-hand-peace"></i> 450</span>
            <!-- <span class="meta__reading-time"><i class="fa fa-hand-peace-o" aria-hidden="true"></i>aaaa</span> -->
                <!-- <i class="fa fa-car" aria-hidden="true"></i> -->
                <!-- <i class="fa fa-hand-peace-o" aria-hidden="true"></i> -->
          </div>
        </a>
        {{/each}}
      </section>
      <section class="content">
        <div class="scroll-wrap">

          {{#each historias}}
          <article class="content__item" id="julio">
            <span class="category category--full">#MiTristeHistoria</span>
            <h2 class="title title--full">{{titulo_historia}}</h2>
            <div class="meta meta--full">
              <img class="meta__avatar" src="img/authors/9.png" alt="author01" />
              <span class="meta__author">{{nombre_escritor}}</span>
              <span class="meta__date"><i class="far fa-calendar"></i> {{fecha}}</span>
               <span class="meta__reading-time"><i class="far fa-hand-peace"></i> 450</span>
            </div>
            <p>{{descripcion}} </p>
          </article>
          {{/each}}


        </div>
        <button class="close-button"><i class="fas fa-times"></i><span>Close</span></button>
      </section>
    </div>
  </div><!-- /container -->
